<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Смена роли пользователям админом</title>-->
<!--</head>-->
<!--<body>-->

<!--<form th:method="POST" th:action="@{/admin/person/edit/{id}(id=${person.getId()})}" th:object="${person}">-->

<!--&lt;!&ndash;    <label for="role">Выберите вид роли пользователя: </label>&ndash;&gt;-->
<!--    <input type="text" th:field="*{role}" placeholder="Роль">-->
<!--    <br><br>-->

<!--    <input type="submit" value="СМЕНИТЬ РОЛЬ">-->

<!--</form>-->

<!--</body>-->
<!--</html>-->